<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservable_instance.name %>
</p>

<p>
  <strong>Vm:</strong>
  <%= @reservable_instance.vm %>
</p>

<%= link_to 'Edit', edit_reservable_instance_path(@reservable_instance) %> |
<%= link_to 'Back', reservable_instances_path %>
