<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservable_instance.name %>
</p>

<p>
  <strong>VM ID:</strong>
  <%= @reservable_instance.vm %>
</p>

<%= link_to 'Edit', edit_reservable_instance_path(@reservable_instance), class: "btn btn-success-outline" %> 
<%= link_to 'Back', reservable_instances_path, class: "btn btn-success-outline" %>
