<p id="notice"><%= notice %></p>

<h1 align="center">Owners</h1>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @object_owners.each do |object_owner| %>
      <tr>
        <td><%= object_owner.firstname %></td>
        <td><%= object_owner.lastname %></td>
        <td><%= object_owner.email %></td>
        <td><%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">View</button>').html_safe, object_owner %></td>
        <td><%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Edit</button>').html_safe, edit_object_owner_path(object_owner) %></td>
        <td><%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Delete</button>').html_safe, object_owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">New Owner</button>').html_safe, new_object_owner_path %>
