<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @object_owner.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @object_owner.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @object_owner.email %>
</p>

<%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Edit</button>').html_safe, edit_object_owner_path(@object_owner) %> |
<%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Back</button>').html_safe, object_owners_path %>
