<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @reservation_owner.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @reservation_owner.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation_owner.email %>
</p>

<%= link_to 'Edit', edit_reservation_owner_path(@reservation_owner), class: "btn btn-success-outline" %> 
<%= link_to 'Back', reservation_owners_path, class: "btn btn-success-outline" %>
