<p id="notice"><%= notice %></p>

<h1>Virtual Machines</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @virtual_machines.each do |virtual_machine| %>
      <tr>
        <td><%= link_to 'Show', virtual_machine %></td>
        <td><%= link_to 'Edit', edit_virtual_machine_path(virtual_machine) %></td>
        <td><%= link_to 'Destroy', virtual_machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Virtual Machine', new_virtual_machine_path %>
