<p id="notice"><%= notice %></p>

<h1 align="center">Virtual Machines</h1>

<table class="table">
  <thead>
    <tr>
        <td colspan = "5">
          <%= form_tag '', :method => :get do %>
            <%= text_field_tag :value_one %>
            <%= submit_tag 'Filter' %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th>VM Name</th>
      <th>VM ID</th>
      <th>CPU Count</th>
      <th>Power State</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @vmresults["value"].each do |vmresult| %>
      <tr>
        <td><%= vmresult["name"] %></td>
        <td><%= vmresult["vm"] %></td>
        <td><%= vmresult["cpu_count"] %></td>
        <td>
          <% if vmresult["power_state"] == "POWERED_ON" %>RUNNING<% end %>
          <% if vmresult["power_state"] == "POWERED_OFF" %>OFF<% end %>
        </td>
        <td><%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Details</button>').html_safe, controller: "virtual_machines", action: "show", id: vmresult["vm"] %>
          <%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Start</button>').html_safe, controller: "virtual_machines", action: "start_vm", id: vmresult["vm"] %>
          <%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Stop</button>').html_safe, controller: "virtual_machines", action: "stop_vm", id: vmresult["vm"] %>
          <%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Halt!</button>').html_safe, controller: "virtual_machines", action: "stop_vm", id: vmresult["vm"] %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td colspan="5">Full JSON Results</td>
    </tr>
    <tr>
      <td colspan="5"><%= @vmresults %></td>
    </tr>
  </tbody>
</table>

<br>

