<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>VM Name</th>
    </tr>
  </thead>

	<tbody>
      <tr>
        <td><%= @vmdetails %></td>
      </tr>
      <tr>
        <td colspan="2">
          JSON RESULTS
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @p %></td>
      </tr>
      <tr>
        <td><%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Back to VMs</button>').html_safe, controller: "virtual_machines" %>
        </td>
        <td><%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Start</button>').html_safe, controller: "virtual_machines" %> %>
        </td>
      </tr>
  	</tbody>

    
</table>
