<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>VM Name</th>
      <th>Power State</th>
      <th>VMX Version</th>
      <th>JSON Results</th>
    </tr>
  </thead>

	<tbody>
      <tr>
        <td><%= @flatdetails[1]["name"] %></td>
        <td><%= @flatdetails[1]["power_state"] %></td>
        <td><%= @flatdetails[1]["version"] %></td>
        <td><%= @flatdetails %></td>
      </tr>
  	</tbody>

    
</table>
