<p id="notice"><%= notice %></p>

<h1>Instance Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Reservation owner</th>
      <th>Reservable instance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instance_reservations.each do |instance_reservation| %>
      <tr>
        <td><%= instance_reservation.reservation_owner.email %></td>
        <td><%= instance_reservation.reservable_instance.name %></td>
        <td><%= link_to 'Show', instance_reservation %></td>
        <td><%= link_to 'Edit', edit_instance_reservation_path(instance_reservation) %></td>
        <td><%= link_to 'Destroy', instance_reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance Reservation', new_instance_reservation_path %>
