<!DOCTYPE html>
<html>
  <head>
    <title>UnifiedPaneOfGlass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@clr/ui/clr-ui.min.css">
    <link rel="stylesheet" type="text/css" href="chttps://unpkg.com/clarity-icons/clarity-icons.min.css">
    <script src="https://unpkg.com/@webcomponents/custom-elements/custom-elements.min.js"></script>
    <script src="https://unpkg.com/clarity-icons/clarity-icons.min.javascript"></script>
  </head>



  <body>
    <div class="main-container">
  	  	<header class = "header header-6">

  	  	<div class="branding">
          <%= image_tag "vdm-logo-header.png", :height => "48px", :style => "padding-right: 30px" %>
          <span class="title">Unified Pane of Glass</span>
        </div> <!-- end branding -->

  		<div class="header-nav">
  			<%= link_to 'VMs', virtual_machines_path, :class =>"nav-link nav-text" %>
  		</div>

  		</header>

      <div class="content-container">
        <div class="content-area">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
